code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.word-container {
  display: flex;
}

.letter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 5px;
}

.letter {
  font-size: 24px;
}

.underline {
  border-bottom: 2px solid #000;
  width: 24px;
}